.background {
    .section__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        .background__intro{
            grid-column: 2/3;
            min-height: 130px;
            @include media-max(450px){
                grid-column: 1/-1;
                padding-right: 45px;
            }
        }
        .background__jobs{
            grid-column: 1/3;
            @include media-max(600px){
                padding-right: clamp(0px, px-to-vw(145, 600), 150px);
            }
            .background__job{
                margin-top: clamp(40px, px-to-vw(120, 1900), 150px);
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                min-height: 200px;
                @include media-max(600px){
                    grid-template-columns: 1fr;
                }
                .background__job-company{
                    margin-top: 20px;
                    grid-column: 1/3;
                    display: flex;
                    flex-direction: column;
                    .item {
                        &:nth-child(2){
                            margin-bottom: 5px;
                        }
                        
                    }
                }
                .background__job-description-container{
                    grid-column: 1/3;
                }
                .item {
                    margin: 0;
                    grid-column: 1 /3;
                    font-weight: 400;
                    &.background__job-title{
                        margin-bottom: 10px;
                    }
                    &:last-child{
                        grid-column: 1/2;
                    }
                }
            }
        }
    }
}