.work-content{
    .section__content{
        .work-samples{
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                cursor: pointer;
                &.work-samples__item{
                    color : #797979;
                    transition: color .25s ease-in-out;
                    margin-bottom: 1.5em;
                    &:hover{
                        color : white;
                    }
                }

            }
        }
        .work-popups{
            position: fixed;
            top: 0;
            background-color: $black;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            transition: .25s $cubic-easing;
            width: 100%;
            // display: none;
            display: flex;
            align-items: center;
            &--visible{
                opacity: 1;
                visibility: visible;
                z-index: 9;
                @include media-max(1020px){
                    z-index: 9999;
                    left: 0;
                    right: 0;
                }

            }
            .close-btn{
                position: fixed;
                right: px-to-vw(40, 1900);
                top: 50px;
                cursor: pointer;
                z-index: 9;
                @include media-max(1020px){
                    right: 25px;
                }
                span {
                    svg {
                        width: 50px;
                        @include media-max(1020px){
                            width: 25px;
                        }
                        path {
                            fill : white;
                        }
                    }
                }
            }
            .work-popup__items{
                display: flex;
                align-items: center;
                max-width: 50vw;
                @include media-max(1020px){
                    padding: 15px;
                }
                @include media-max(821px){
                    max-width: 100%;
                }
                .work-popup__content{
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                    &--visible {
                        opacity: 1;
                        visibility: visible;
                        display: block;
                    }
                    .work-popup__title{

                    }
                    .work-popup__image{
                        margin-top: 50px;
                        margin-left: 0;
                        img{

                        }
                    }
                    .work-popup__skills{
                        display: flex;
                        margin: 0;
                        padding: 0;
                        @include media-max(1020px){
                            flex-wrap: wrap;
                        }
                        li{
                            list-style: none;                            
                            color : $black;
                            margin-right: 5px;
                            @include media-max(1020px){
                                margin-bottom: 10px;
                                margin-right: 10px;
                            }
                            span {
                                background-color: $white;
                                border-radius: 15px;
                                padding: 5px 10px;
                            }
                        }
                    }
                    .work-popup__description{
                        // max-width: 500px;
                        display: grid;
                        @include media-max(500px){
                            height: 40vh;
                            overflow-y: scroll;
                        }
                        div{
                            grid-column: 2/-1;
                            gap: 5px;
                            p{

                            }
                            a.link {
                                display: inline-block;
                                margin-top: 25px;
                            }
                        }

                    }
                }
            }
        }
    }
}

.work-intro{
    position: relative;
    z-index: 1;
    @include media-max(1020px){
        .section__content{
            grid-column: 1/-1;
            text-align: center;
        }
    }

    .icon-down{
        display: inline-block;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        opacity: 0;
        visibility: 0;
        transition: .5s $cubic-easing;
        &--visible {
            opacity: 1;
            visibility: visible;
        }
        svg{
            width: 25px;
            path {
                fill : $white;
            }
        }
    }
}